body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.app-title {
  color: #382e2e;
  font-size: 48px;
  margin-top: 200px;
}

.button-container {
  margin-top: 30px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(			https://images.pexels.com/photos/3768131/pexels-photo-3768131.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.6;
}

.landing-button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 12px 20px;
  background-color: #896c6c;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.landing-button:hover {
  background-color: #896c6c;
}
